@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;500&display=swap');

ion-content {
  --background: #6D6875;
  --color: white;

  --border-color: black;
  --border-width: 4px 0;
  --border-style: double;
  --min-height: 80px;
  --padding-bottom: 20px;
}

.ion-col-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-grid{
  background: #6D6875;
  color: #FFCDB2;
  text-align:start;
;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bold;
  max-height: 70px;
  margin-top: 0;
}
ion-title{
  font-size: 50px;
}

ion-searchbar{
  --display: flex;
  --flex-wrap: nowrap;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 10px;
  max-height: 40px;
  max-width: 540px;

}

.header-row {
  --display: flex;
  --flex-wrap: nowrap;
  border:  3px solid black;
  margin-top:0;
  background-color: #B5838D;
  color: black;
  font-weight: bold;

}

ion-fab {
  margin-top: 68px;

}
ion-button {
  --display:flex;
  --flex-wrap: nowrap;
  --background:#FFB4A2;
  --border-color: #000;
  --border-style: solid;
  --border-width: 2px;
}

//
//.table-content ion-row {
//  display: flex;
//  flex-wrap: nowrap;
//  margin: 1px 0;
//
//
//}
.custom-col {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid black;
  height: 90px;
}

//.custom-row {
//  display: flex;
//  flex-wrap: nowrap;
//  border: 2px solid black;
//  text-align: center;
//}

ion-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}






