<ion-content class="ion-padding">
  <ion-header class="ion-padding">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-title class="center-title">Products</ion-title>
          </ion-col>
          <ion-col size="6">
            <ion-searchbar
              type="search"
              (ionInput)="filterBoxes($event.target)"
              placeholder="Search"
            ></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    class="ion-margin-bottom ion-margin-end"
  >
    <ion-fab-button
      id="open-modal"
      data-testid="open-modal-action"
      fill="clear"
    >
      <ion-icon name="add" size="small"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-content>
    <ion-row class="header-row">
      <ion-col class="custom-col image-col"> Image</ion-col>
      <ion-col class="custom-col"> Name</ion-col>
      <ion-col class="custom-col"> Description</ion-col>
      <ion-col class="custom-col">Size</ion-col>
      <ion-col class="custom-col">Price</ion-col>
      <ion-col class="custom-col"> Action</ion-col>
    </ion-row>

    <ion-row
      [attr.data-testid]="'row_' + box.boxName"
      class="table-content custom-row"
      *ngFor="let box of getDisplayedBoxes()"
    >
      <ion-col class="custom-col">
        <ion-img [src]="box.imageUrl"></ion-img>
      </ion-col>
      <ion-col class="custom-col">{{ box.boxName }}</ion-col>
      <ion-col class="custom-col">{{ box.description }}</ion-col>
      <ion-col class="custom-col">{{ box.size }}</ion-col>
      <ion-col class="custom-col">{{ box.price }}</ion-col>
      <ion-col class="custom-col">
        <ion-button
          shape="round"
          size="small"
          data-testid="open-page-edit"
          (click)="navigateToOwnPage(box.boxId)"
          fill="clear"
        >
          Update
        </ion-button>

        <ion-button
          shape="round"
          size="small"
          color="danger"
          data-testid="delete-box-action"
          (click)="deleteBox(box.boxId)"
        >
          Delete
        </ion-button>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="getDisplayedBoxes().length === 0">
      <div class="ion-col-div">
        <ion-col size="2">NO SEARCH WAS FOUND</ion-col>
      </div>
    </ng-container>
  </ion-content>
</ion-content>
