<ion-content [fullscreen]="true">
  <ion-card *ngIf="state.currentBox as box">
    <ion-toolbar>
      <ion-title>{{ box.boxName }}</ion-title>

    </ion-toolbar>

    <div class="image-container">
      <img
        class="centered-image"
        style="height: 250px; width: auto"
        [src]="
          box.imageUrl ||
          'https://ionicframework.com/docs/img/demos/thumbnail.svg'
        "
      />
    </div>

    <ion-list>
      <form [formGroup]="formGroup" (ngSubmit)="updateForm()">
        <ion-item>
          <ion-input
            data-testid="edit_name_form"
            formControlName="boxName"
            type="text"
            aria-label="Name"
            label="Name"
          ></ion-input>
          <div *ngIf="!formGroup.controls['boxName'].valid">
            Box name must be 5 characters or more
          </div>
        </ion-item>
        <ion-item>
          <ion-input
            data-testid="edit_description_form"
            formControlName="description"
            type="text"
            aria-label="description"
            label="Description"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            data-testid="edit_size_form"
            type="text"
            formControlName="size"
            aria-label="size"
            label="Size"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            data-testid="edit_price_form"
            type="text"
            formControlName="price"
            label="Product price"
            aria-label="price"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            data-testid="edit_imageUrl_form"
            formControlName="imageUrl"
            label="Product image"
            aria-label="image"
            label="Image"
          ></ion-input>
        </ion-item>

        <ion-button
          [disabled]="formGroup.invalid"
          data-testid="edit_submit_form"
          type="submit"
          >Update</ion-button
        >
      </form>
    </ion-list>
  </ion-card>
</ion-content>
